{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@actions": "./actions",
          "@assets": "./assets",
          "@providers": "./providers",
          "@hocs": "./hocs",
          "@hooks": "./hooks",
          "@config": "./config",
          "@utils": "./utils",
          "@store": "./store",
          "@components": "./components",
          "@constants": "./constants",
          "@validations": "./validations",
          "@definitions": "./definitions",
          "@types": "./@types",
          "@pages": "./pages",
          "@reducers": "./reducers",
          "@services": "./services",
          "@server": "./server",
          "@static": "./public/static"
        }
      }
    ]
  ]
}
