/* ./styles/globals.css */
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';
@tailwind base;

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}

@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply mb-3 py-3 px-4 border border-nord9 focus:outline-none rounded-md focus:ring-1;
  }
  .btn {
    @apply transition duration-700  text-white p-3 rounded-lg font-semibold text-lg focus:outline-none block w-full;
  }

  .Google {
    @apply bg-nord11;
  }
  .GitHub {
    @apply bg-nord0;
  }

  .Discord {
    @apply bg-nord10;
  }
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  /* color: #818078; */
  background-color: #fcfcfa;
}
